.app {
  color: $primary;
  font-family: $font-family-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  display: grid;
  position: relative;
  align-items: center;
  min-height: 150px;
  background-color: $primary;
  color: #FFF;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "brand" "menulist" "svg";
  justify-items: center;
  .brand {
    grid-area: brand;
    justify-self: start;
  }
  .menulist {
    display: flex;
    z-index: 100;
    grid-area: menulist;
    justify-self: end;
    &-link {
      padding: 0 0.8em;
      color: #FFF;
      text-decoration: none;
      &.router-link-exact-active {
        border-bottom: #FFF double 1px;
        outline: none;
        font-weight: bold;
      }
    }
  }
  .svg-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    grid-area: svg;
  }
}
@include cd(480) {
  .navbar {
    align-items: center;
    margin-bottom: 5vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "brand brand brand menulist menulist" "svg svg svg svg svg";
    justify-items: center;
    .brand {
      justify-self: start;
    }
  }
}
footer {
  position: relative;
  min-height: 140px;
  margin-top: 5vh;
  background-color: $primary;
  .svg-footer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vw;
  }
}
