@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("~@/assets/fonts/raleway/Raleway-Regular.eot");
  src: url("~@/assets/fonts/raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/raleway/Raleway-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/raleway/Raleway-Regular.woff") format("woff"),
    url("~@/assets/fonts/raleway/Raleway-Regular.ttf") format("truetype"),
    url("~@/assets/fonts/raleway/Raleway-Regular.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: normal;
  src: url("~@/assets/fonts/signika/Signika-Regular.eot");
  src: url("~@/assets/fonts/signika/Signika-Regular.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/signika/Signika-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/signika/Signika-Regular.woff") format("woff"),
    url("~@/assets/fonts/signika/Signika-Regular.ttf") format("truetype"),
    url("~@/assets/fonts/signika/Signika-Regular.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: normal;
  src: url("~@/assets/fonts/pacifico/Pacifico-Regular.eot");
  src: url("~@/assets/fonts/pacifico/Pacifico-Regular.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/pacifico/Pacifico-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/pacifico/Pacifico-Regular.woff") format("woff"),
    url("~@/assets/fonts/pacifico/Pacifico-Regular.ttf") format("truetype"),
    url("~@/assets/fonts/pacifico/Pacifico-Regular.svg#Pacifico-Regular") format("svg");
}
