$font-family-1: 'Significa';
$font-family-2: 'Raleway';
// $font-family-1: 'Raleway Regular', sans-serif;
// $font-family-2: 'Signika Regular', sans-serif;

// colors:
// $primary: #2c3e50;
$primary: red;
